<mat-card>
  <form name="search-form" class="mat-inline-form">
    <div
        fxLayout="row"
        fxLayout.xs="column">
      <mat-form-field class="flex-item input-wrapper" fxFlex>
        <mat-label>Prefix</mat-label>
        <input matInput name="prefix" [(ngModel)]="prefix" />
      </mat-form-field>
      <mat-form-field class="flex-item input-wrapper" fxFlex>
        <mat-label>Word</mat-label>
        <input matInput name="word" [(ngModel)]="word" />
      </mat-form-field>
      <mat-form-field class="flex-item input-wrapper" fxFlex>
        <mat-label>Suffix</mat-label>
        <input matInput name="suffix" [(ngModel)]="suffix" />
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button mat-raised-button fxFlex (click)="clear()" *ngIf="searchStarted">Clear</button>
      <button mat-raised-button fxFlex (click)="search(prefix, word, suffix)">Search</button>
    </div>
  </form>
</mat-card>