.input-wrapper {
  display: block;
  margin: 0;
}

.input-wrapper ::ng-deep .mat-form-field-infix {
  width: auto;
}

@media(min-width: 600px) {
  .input-wrapper:first-child {
    margin-left: 0;
  }

  .input-wrapper:last-child {
    margin-right: 0;
  }
}
