/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

.md-tab-label {
  width: 33%;
}

@media(max-width: 600px) {

  .github-banner {
    display: none;
  }

}
